<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset( 'public/assets/framework/bootstrap/css/bootstrap.min.css') }}">
        	<link rel="stylesheet" href="{{ asset( 'public/assets/framework/fontawesome-free-5.15.3-web/css/fontawesome.min.css') }}">
        	<link rel="stylesheet" href="{{ asset( 'public/assets/main/css/style.css') }}">
        {% endblock %}
        
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
		
    </head>
    <body>
    
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	{% for menu in menu_site %}
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ path( menu.link ) }}">{{ menu.name }}</a>
	      </li>
		{% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
    	{% if is_granted( 'IS_AUTHENTICATED_FULLY' ) %}
	      <a href="{{ path ('admin') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Админка</a>
    	{% else %}
	      <a href="{{ path ('app_login') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Логин</a>
      {% endif %}
    </form>
  </div>
</nav>
    
    
        {% block body %}{% endblock %}
    	{% block javascripts %}
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    	<script src="https://unpkg.com/@popperjs/core@2"></script>
    	<script src="{{ asset( 'public/assets/framework/bootstrap/js/bootstrap.min.js') }}"></script>
    	<script src="{{ asset( 'public/assets/main/js/script.js') }}"></script>
    	<script src="{{ asset( 'public/assets/framework/vue/vue.js') }}"></script>
    	{% endblock %}
    </body>
</html>
